.memberDetail {
    padding: 12px;
}

.memberDetail .container {
    background: #fff;
    padding: 12px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 100%;
}

.memberDetail .container .memberInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.memberDetail .container .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.memberDetail .container .following .username {    
    font-weight: bold;    
}

.memberDetail .container .avgScore {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memberDetail .memberMovie {
    margin-top: 12px;
}