.movieCard {    
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.movieCard:hover {    
    box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%);
}

.movieCard img {
    border-radius: 2px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.movieCard .titleContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}   

.movieCard .titleContainer .title {    
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.9);    
    margin: 12px;
    padding: 8px;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    text-align: center;
}   

.movieCard .score {
    position: absolute;
    bottom: 4px;
    left: 4px;            
}

.movieCard .action {
    position: absolute;
    top: 0px;
    right: 0px;
}

.movieCard .action .btnMore {
    color: #fff;
    background: rgba(17, 24, 30, 0.7);
    width: 36px;
    height: 36px;
}

.movieCard .action .btnMore:hover {
    opacity: 0.5;
}     

.movieCard .drawer {            
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.movieCard .drawer button {    
    margin-top: 8px;
    transition: 0.3s ease-in-out;    
}

.movieCard .drawer button:hover {    
    background: rgba(52, 152, 219, 0.2);
}

.movieFilter {
    margin-bottom: 16px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 16px 16px 0 16px;
}

/* .movieDetail .background {
    margin: auto;
    width: 100%;
    position: relative;    
    margin-bottom: -128px;
}

.movieDetail .background img {
    width: 100%;
    height: auto;      
}

.movieDetail .background .shadow {
    width: 100%;
    position: absolute;
    bottom: 0px;
    top: 0px;     
    background-image: linear-gradient(90deg,#f0f2f5 0,rgba(240,242,245,.986) .97%,rgba(240,242,245,.945) 2.07833333%,rgba(240,242,245,.883) 3.29666667%,rgba(240,242,245,.803) 4.60166667%,rgba(240,242,245,.711) 5.96666667%,rgba(240,242,245,.61) 7.365%,rgba(240,242,245,.504) 8.77166667%,rgba(240,242,245,.398) 10.16%,rgba(240,242,245,.296) 11.505%,rgba(240,242,245,.203) 12.78%,rgba(240,242,245,.122) 13.95833333%,rgba(240,242,245,.059) 15.01666667%,rgba(240,242,245,.016) 15.92833333%,rgba(240,242,245,0) 16.66666667%,rgba(240,242,245,0) 83.33333333%,rgba(240,242,245,.016) 84.07166667%,rgba(240,242,245,.059) 84.98333333%,rgba(240,242,245,.122) 86.04166667%,rgba(240,242,245,.203) 87.22%,rgba(240,242,245,.296) 88.495%,rgba(240,242,245,.398) 89.84%,rgba(240,242,245,.504) 91.22833333%,rgba(240,242,245,.61) 92.635%,rgba(240,242,245,.711) 94.03333333%,rgba(240,242,245,.803) 95.39833333%,rgba(240,242,245,.883) 96.70333333%,rgba(240,242,245,.945) 97.92166667%,rgba(240,242,245,.986) 99.03%,#f0f2f5),linear-gradient(0deg,#f0f2f5 0,#f0f2f5 11.48148148%,rgba(240,242,245,.986) 13.63703704%,rgba(240,242,245,.945) 16.1%,rgba(240,242,245,.883) 18.80740741%,rgba(240,242,245,.803) 21.70740741%,rgba(240,242,245,.711) 24.74074074%,rgba(240,242,245,.61) 27.84814815%,rgba(240,242,245,.504) 30.97407407%,rgba(240,242,245,.398) 34.05925926%,rgba(240,242,245,.296) 37.04814815%,rgba(240,242,245,.203) 39.88148148%,rgba(240,242,245,.122) 42.5%,rgba(240,242,245,.059) 44.85185185%,rgba(240,242,245,.016) 46.87777778%,rgba(240,242,245,0) 48.51851852%);
} */

.movieDetail .movieInfo {
    padding: 8px 24px;    
}

.movieDetail .movieInfo .container {
    background: #fff;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
}

.movieDetail .movieInfo .poster {
    width: 100%;
    height: auto;
    object-fit: fill;    
    border-radius: 4px 4px 0 0;    
}

.movieDetail .movieInfo .action {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 0 0 4px 4px;
    padding: 8px 4px;
    margin-bottom: 8px;    
    display: flex;     
    justify-content: flex-start;
    align-items: center;
    width: 100%;    
}

.movieDetail .movieInfo .action div {    
    width: 33%;
    transition: 0.3s ease-in-out;        
    text-align: center;
}

.movieDetail .movieInfo .action div button:hover {    
    background: rgba(52, 152, 219, 0.2);
}

/* @media screen and (max-width: 576px) {
    .movieDetail .movieInfo .poster {
        width: 80%;
        margin: auto;
        margin-left: 10%;        
    }

    .movieDetail .movieInfo .action {
        width: 80%;    
        margin-left: 10%;        
    }
} */
  