.container {
    margin-top: 8px;
    position: relative;    
}

.container .listItem {
    text-align: center;
    margin-bottom: 0%;
}

.container .artistAvatar {
    border: 1px solid #e5e5e5;    
}

.container .artistName {    
    color: #000;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.container .artistRole {    
    color: rgba(0, 0, 0, 0.85);
    font-size: 12px;        
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.container .leftArrow {
    position: absolute;
    left: -8px;
    bottom: 40%;
    opacity: 0.5;
}

.container .rightArrow {
    position: absolute;
    right: -8px;
    bottom: 40%;
    opacity: 0.5;
}

@media screen and (min-width: 1200px) {
    .container {
        padding: 0 16px;
    }
}